.carousel-wrapper {
  background-color: #f3f4f6;
  padding: 24px;
  position: relative;
  margin-top: 60px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
  color: #1f2937;
}

.carousel-header a {
  color: #2563eb;
  font-size: 14px;
  text-decoration: none;
}

.carousel-header a:hover {
  text-decoration: underline;
}

.carousel-container {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  min-width: 23%;
  max-width: 23%;
  background: white;
  text-align: center;
  border-radius: 8px;
}

.carousel-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 4px;
}

.carousel-card p {
  margin-top: 8px;
  font-size: 14px;
  color: #374151;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}

.arrow svg {
  width: 24px;
  height: 24px;
}
