.images-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;
}

.thumbnail-img {
  height: 5rem;   
  width: 5rem;    
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.thumbnail-img:hover {
  transform: scale(1.05);
  border: 2px solid #facc15;
}

.main-image-container {
  margin-top: 2.5rem;
}

.main-img {
  height: 15rem; 
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}
